<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="DB"
         connectionString="Data Source = (localdb)\MSSQLLocalDB; Initial Catalog = DDU; Integrated Security = True; Connect Timeout = 30; Encrypt = False; TrustServerCertificate = True; ApplicationIntent = ReadWrite; MultiSubnetFailover = False"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.serviceModel>
    <services>
      <service name="BusServices.PassengerService1" behaviorConfiguration="mexBehaviour">
        <endpoint address="PassengerService1"
                  binding="basicHttpBinding"
                  contract="BusServices.IPassengerService1">
        </endpoint>
        <host>
          <baseAddresses>
            
            <add baseAddress="http://localhost:8080/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour" >
          <serviceMetadata httpGetEnabled="true"/>
          
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>